In [255]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [256]:
TICK_DATA = os.path.join(os.getcwd(), '2.csv')
ORDER_DATA = os.path.join(os.getcwd(), 'Assignment#3_Orders.xlsx')

tick = pd.read_csv(TICK_DATA, encoding='utf-16-le')
order = pd.read_excel(ORDER_DATA, header=3, usecols=[27,28,29,30,31,32,33])

In [257]:
tick['DateTime'] = pd.to_datetime(tick['DateTime'], format="%m/%d/%Y %H:%M:%S.%f")
order['DateTime'] = pd.to_datetime(order['datetime'], format="%Y-%m-%d %H:%M:S.%f")

In [258]:
order = order.drop(['datetime'], axis=1).set_index('DateTime')
tick = tick.set_index('DateTime')

In [259]:
order.head()

                     trade_id  buy/sell  notional    price instrument alpha
DateTime
2018-01-07 19:07:49    107414         1    150000  1.35724    GBP/USD   SOM
2018-01-07 19:15:23    107427         1    310000  1.35725    GBP/USD   SOM
2018-01-08 07:38:48    107638        -1    310000  1.35453    GBP/USD   SOM
2018-01-08 08:10:55    107649        -1    310000  1.35371    GBP/USD   SOM
2018-01-08 08:19:10    107654        -1    320000  1.35394    GBP/USD   SOM

In [260]:
tick.head()

                             Bid      Ask
DateTime
2018-01-07 22:02:03.832  1.35560  1.35616
2018-01-07 22:02:03.845  1.35560  1.35617
2018-01-07 22:02:03.851  1.35554  1.35617
2018-01-07 22:02:03.859  1.35554  1.35618
2018-01-07 22:02:04.114  1.35554  1.35619

# Market Taking

In [309]:
def MarketMaking(order, tick):
    """
    parameters:
    order: pd.dataframe, specifies when to buy and sell
    tick: pd.dataframe, specifies tick data including Bid and Ask
    
    return:
    PnL: list of PnL of every fulfilled trade, specifies PnL in total
    """
    PnL = []
    for i in order.index:
        bid = tick.truncate(before=i).iloc[0,0] ## bid price fulfilled
        ask = tick.truncate(before=i).iloc[0,1] ## ask price fulfilled
        PnL.append(bid - ask)
    
    tick.iloc[tick.index.get_loc(a, method='backfill')]
    
    
    return PnL

In [311]:
PnL = MarketMaking(order, tick)

In [312]:
a = order.index[0]

In [315]:
tick.iloc[tick.index.get_loc(a, method='backfill')]

Bid    1.35560
Ask    1.35616
Name: 2018-01-07 22:02:03.832000, dtype: float64

In [307]:
PnL = 0
for i in order.index:
    bid = tick.truncate(before=i).iloc[0,0] ## bid price fulfilled
    ask = tick.truncate(before=i).iloc[0,1] ## ask price fulfilled
    PnL = bid - ask

In [308]:
PnL

-5.0000000000105516e-05

In [291]:
order.ix?

In [284]:
order.index[0]

Timestamp('2018-01-07 19:07:49')

In [302]:
bid = tick.truncate(before=order.index[0]).iloc[0,0]
ask = tick.truncate(before=order.index[0]).iloc[0,1]
PnL = bid - ask

In [303]:
PnL

-0.000560000000000116

In [268]:
for i in order['buy/sell']:
    if i == 1:
        print(1)
elif order['buy/sell'] == -1:

SyntaxError: unexpected EOF while parsing (<ipython-input-268-2ce6fe9f25da>, line 4)

In [277]:
order.iloc[0]['buy/sell']

1

In [269]:
type(order['buy/sell'])

pandas.core.series.Series

DatetimeIndex(['2018-01-07 19:07:49', '2018-01-07 19:15:23',
               '2018-01-08 07:38:48', '2018-01-08 08:10:55',
               '2018-01-08 08:19:10', '2018-01-08 08:23:16',
               '2018-01-08 08:34:40', '2018-01-08 11:25:13',
               '2018-01-08 11:42:08', '2018-01-08 12:15:34',
               ...
               '2018-01-12 13:04:03', '2018-01-12 14:06:24',
               '2018-01-12 14:33:14', '2018-01-12 15:02:01',
               '2018-01-12 15:17:02', '2018-01-12 15:32:12',
               '2018-01-12 16:03:23', '2018-01-12 16:03:24',
               '2018-01-12 16:18:07', '2018-01-12 16:33:22'],
              dtype='datetime64[ns]', name='DateTime', length=369, freq=None)